@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');
body{
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    background-image: url(../img/09d176549a2f3059152fca2975c1cca1.jpeg);
    font-size: 35px;
}
img{
    width: 274px;
    height: 274px;
    margin: 15px;
    border: none;
    border-radius: 134px;
}
.imgs{
    width: 24px;
    height: 24px;
}
.n-one{
    display: flex;
    flex-direction: column;
}
.one{
    display: flex;
}
.img{
    width: 24px;
    height: 24px;
}
.im{
    width: 24px;
    height: 24px;
}
.oimg{
    width: 24px;
    height: 24px;
}
.oimgs{
    width: 24px;
    height: 24px;
}
.oim{
    width: 24px;
    height: 24px;
}
h1{
    text-align: center;
}
.oi{
    width: 24px;
    height: 24px;
}
.i{
    width: 24px;
    height: 24px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #68426e;
}
.k{
    width: 44px;
    height: 44px;
}
.l{
    display: flex;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
}